<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
<link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>
    <header>
    <h1>CART</h1>
</header>

<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cart">cart</a></li>
      <li><a href="/products">products</a></li>
    </ul>
</nav>


 <section id="contact">
    <div class="container">
      <h2>Contact Us</h2>
      <form>
        <input type="text" name="name" placeholder="Your Name">
        <input type="email" name="email" placeholder="Your Email">
        <textarea name="message" placeholder="Your Message"></textarea>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2023 My Cool Website. All rights reserved.</p>
      <ul>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>

  <script src="script.js"></script>

</body>
</html>